p{
    font-size: 25px;
}

.aboutMe :hover{
background-color: lightgray;
opacity: 1.5;
}

.skills :hover{
background-color: lightgray;
opacity: 1.5;
}

.education :hover{
background-color: lightgray;
opacity: 1.5;
}

.aboutText{
    box-shadow: 10px 10px 10px lightgray;
}

.skillsText{
    box-shadow: 10px 10px 10px lightgray;
}

.edText{
    box-shadow: 10px 10px 10px lightgray;
}

body{
    background-image: url(../img/background.jpg);
}

.tech{
    list-style: none;
}

img{
    height: 35px;
}

.resize{
    height: 20px
}

li{
    margin-bottom: 2%;
}

@media (max-width: 576px) {
    body{
    background-image: url(../img/background.jpg);
    height: 100%;
    }
}